  {% extends 'main/partials/base.html' %}
  
  {% load static %}
  
  {% block main_content %}
  
  {% include 'main/components/hero.html' %}

  <main id="main">

    {% include 'main/components/icon-boxes.html' %}
      
    {% include 'main/components/about.html' %}
    
    {% include 'main/components/clients.html' %}
    
    {% include 'main/components/why-us.html' %}
    
    {% include 'main/components/services.html' %}
    
    {% include 'main/components/cta.html' %}
    
    {% include 'main/components/portfolio.html' %}
    
    {% include 'main/components/team.html' %}
    
    {% include 'main/components/pricing.html' %}
    
    {% include 'main/components/fqa.html' %}
    
    {% include 'main/components/contact.html' %}

  </main><!-- End #main -->

  {% endblock main_content %}