<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Tautan Penting</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Halaman Utama</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Panduan Penggunaan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/dafalagi/Nilaiku">Repository Github</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Kontak Pengembang</h4>
            <p>
              <strong>Email:</strong> dafarizky34@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Tentang Nilaiku</h3>
            <p>
              Nilaiku adalah sebuah aplikasi yang dapat membantu anda dalam menilai Lembar Jawaban Komputer (LJK) secara otomatis.
              Kontribusi terhadap pengembangan aplikasi ini sangat diharapkan. Silahkan kunjungi repository github kami untuk berkontribusi.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Nilaiku</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->