<!-- ======= Contact Section ======= -->
<section id="submitForm" class="submitForm">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Silahkan isi formulir berikut untuk mulai menilai</h2>
      </div>

      <div class="row mt-1 d-flex justify-content-start" data-aos="fade-right" data-aos-delay="100">

        <div class="col-lg mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

          <form action="{% url 'grade' %}" method="post" role="form" class="submit-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <p>Tipe LJK</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="form_type" id="form_type1" value="key" 
                onclick="showFeatures()" required>
                <label class="form-check-label" for="form_type1">
                  Kunci Jawaban
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="form_type" id="form_type2" value="answer"
                onclick="showFeatures()">
                <label class="form-check-label" for="form_type2">
                  Lembar Jawaban
                </label>
              </div>
            </div>
            <div id="features" style="display: none;">
              <div class="row mt-3">
                <label for="height">Tinggi LJK</label>
                <div class="col-md-2 form-group mt-2">
                  <select class="form-select" aria-label="height" name="height" id="height">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <label for="choices">Jumlah Pilihan Jawaban</label>
                <div class="col-md-2 form-group mt-2">
                  <select class="form-select" aria-label="choices" name="choices" id="choices">
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <label for="max_q">Total Nomor</label>
                <div class="col-md-2 form-group mt-2">
                  <select class="form-select" aria-label="max_q" name="max_q" id="max_q">
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                  </select>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="max_mark">Total Soal</label>
                <input type="number" class="form-control mt-2" name="max_mark" id="max_mark" required>
              </div>
            </div>
            <div id="grade_details" style="display: none;">
              <div class="form-group mt-3">
                <label for="name">Nama</label>
                <input type="text" class="form-control mt-2" name="name" id="name" required>
              </div>
              <div class="form-group mt-3">
                <label for="classes">Kelas</label>
                <input type="text" class="form-control mt-2" name="classes" id="classes" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="form_image" class="form-label">Unggah Foto LJK</label>
              <input class="form-control" type="file" id="form_image" name="form_image" accept="image/*" required>
            </div>
            <div class="text-center mt-4">
              <button type="submit">Proses</button>
            </div>
          </form>
          
        </div>

      </div>

    </div>
</section><!-- End Contact Section -->

<script type="text/javascript">
  function showFeatures() {
    var form_type = document.querySelector('input[name="form_type"]:checked').value;
    var features = document.getElementById("features");
    var max_mark = document.getElementById("max_mark");
    var grade_details = document.getElementById("grade_details");
    var name = document.getElementById("name");
    var classes = document.getElementById("classes");

    if (form_type == "key") {
      features.style.display = "block";
    } else {
      features.style.display = "none";
      max_mark.required = false;
    }

    if (form_type == "answer") {
      grade_details.style.display = "block";
    } else {
      grade_details.style.display = "none";
      name.required = false;
      classes.required = false;
    }
  }
</script>