<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <div class="d-flex justify-content-end">
            <a href="/home/#submitForm" class="btn-continue align-items-end ms-3 ">Kembali ke Halaman Utama</a>
          </div>
        </div>
      </div>

    </div>
</section><!-- End About Us Section -->