{% load static %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfoio" 
style="
margin-bottom: -5rem;
margin-top: 70px;
">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="margin-top: -2rem;">
        <h2>Hasil Pemrosesan</h2>
        <p>
          Berikut adalah hasil pemrosesan LJK yang anda unggah. 
          
          {% if result.form_type == 'key' %}
            LJK yang anda unggah merupakan kunci jawaban dan telah tersimpan oleh sistem.
            Silahkan lanjutkan menilai lembar jawaban siswa.
          {% elif result.form_type == 'answer' %}
            LJK yang anda unggah merupakan lembar jawaban siswa.
            Rincian benar, salah, serta nilai dapat dilihat di bawah.
          {% endif %}
        </p>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-6 col-md-6 portfolio-item filter-web">
          <img src="{{ result.img.url }}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Area Pilihan Ganda</h4>
            <p>Ini adalah area pilihan ganda hasil pemrosesan.</p>
            <a href="{{ result.img.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Area Pilihan Ganda">
              <span style="font-size: large;">Lihat</span>
            </a>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-web">
          
          {% if result.form_type == "answer" %}
            <h5>Nama: {{ result.name }}</h5>
            <h5>Kelas: {{ result.classes }}</h5>
            <br>
            <h5>Benar: {{ result.correct }}</h5>
            <h5>Salah: {{ result.wrong }}</h5>
            <br>
            <h4>Nilai: {{ result.score }}</h4>  
          {% endif %}

        </div>

      </div>

    </div>
</section><!-- End Portfolio Section -->