<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center"
{% if request.path == '/home/' %}
  style="margin-bottom: -90px;"
{% endif %}
  >
    <div id="heroCarousel" class="container carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Selamat Datang di <span>Nilaiku</span></h2>
          <p class="animate__animated animate__fadeInUp">
            Nilaiku adalah sebuah aplikasi yang dapat membantu anda dalam menilai Lembar Jawaban Komputer (LJK) secara otomatis.
            Silahkan klik tombol dibawah ini untuk memulai.
          </p>
          <a href="#contact" class="btn-get-started animate__animated animate__fadeInUp scrollto">Mulai Menilai</a>
        </div>
      </div>

    </div>
</section><!-- End Hero -->