<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Apakah terdapat masalah dari kedua gambar di atas?
          </p>
          <div class="d-flex justify-content-end">
            <a href="{% url 'home' %}" class="btn-reupload align-items-end">Ya, unggah ulang</a>
            <form action="{% url 'grade' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="preview_id" value="{{ preview_id }}">
              <input type="hidden" name="form_type" value="{{ form_type }}">
              <button type="submit" class="btn-continue align-items-end ms-3 ">Tidak, lanjut proses</button>
            </form>
          </div>
        </div>
      </div>

    </div>
</section><!-- End About Us Section -->