{% load static %}

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pratinjau LJK</h2>
        <p></p>
      </div>

      <div class="row">
        <div class="col-md-6 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <img src="{% static 'main/majalaya-0.jpeg' %}" class="card-img-top" alt="..." height="10%">
            <div class="card-body">
              <h5 class="card-title">Foto LJK</h5>
              <p class="card-text">Ini adalah foto LJK yang diunggah oleh Anda.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <img src="{% static 'main/majalaya-0-output.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Area Pilihan Ganda</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
</section><!-- End Services Section -->