{% load static %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Halaman Utama</a></li>
          <li><a href="#">Rekap Nilai</a></li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg entries">

            <article class="entry entry-single">

              <h2 class="entry-title">
                <p>Daftar Rekap Nilai</p>
              </h2>

              <div class="entry-content">
                <ul>
                  
                    {% for summary in summaries %}
                        <li class="m-1 mb-4">
                            <form action="{% url 'summary' %}" method="post">
                              {% csrf_token %}
                              <p>Guru: {{ summary.teacher }}</p>
                              <p>Mata Pelajaran: {{ summary.course }}</p>
                              <p>Kelas: {{ summary.classes }}</p>
                              <p>Tanggal Ujian: {{ summary.date|date:"d-m-Y" }}</p>
                              <input type="hidden" name="exam_id" value="{{ summary.exam_id }}">
                              <input type="submit" class="btn btn-primary btn-sm" value="Download">
                            </form>
                        </li>
                    {% endfor %}

                </ul>
              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->