{% load static %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Halaman Utama</a></li>
          <li><a href="#">Rekap Nilai</a></li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg entries">

            <article class="entry entry-single">

              <h2 class="entry-title">
                <p>Daftar Rekap Nilai</p>
              </h2>

              <div class="entry-content">
                <ul>
                    <li>
                        <a href="#">
                            24/7/23
                        </a>
                    </li>
                </ul>
              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->