{% extends 'admin/partials/base.html' %}

{% load static %}
  
{% block main_content %} 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <h1 class="mb-4 mt-4">Welcome to Nilaiku Dashboard</h1>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock main_content %}